<div>
  <div
    class="flex flex-col justify-center items-start lg:items-center gap-4 lg:gap-8 w-full bg-login-banner px-6 lg:px-0 py-12 lg:py-40"
  >
    <div class="text-white text-3xl lg:text-6xl font-semibold">Explore the Magical Trail</div>
    <div class="lg:w-7/12 text-taiga-gray-200 lg:text-lg lg:text-center">To
      To participate in this event, please login Discord to start. It will link your Discord account, Acala account, email address and tweet link to maximize your potential XP.
    </div>
    <a
      href="/auth/discord"
      class="flex flex-row justify-center items-center gap-2 bg-taiga-gray-50 rounded-sm py-2 px-4 mt-4 lg:mt-0 shadow-md"
    >
      <img src="/static/discord.svg" />
      <div
        class="flex items-center justify-center h-full text-primary-600 font-semibold"
      >Start</div>
    </a>
  </div>
  <div>
  <div class="flex flex-col justify-center items-start gap-2 w-80 lg:w-full lg:gap-4 px-6 lg:px-16 mt-8 lg:mt-12 lg:mb-16">
    <div class="text-2xl lg:text-4xl text-primary-600 font-semibold">Watch the Kickoff Event</div>
    
    
    <div class="container-flex-video">
  <div class="video-cont">
    <div class="text-sm lg:text-lg lg:w-full text-taiga-gray-900">TDOT is the first synthetic DOT aimed at standardizing different formats of DOT derivatives for increased usability, yield and liquidity efficiency.</div>
    <iframe
      class=" w-full lg:w-full lg:max-w-4xl h-56 lg:h-[512px] "
      {{!-- width="1712"
      height="836" --}}
      src="https://www.youtube.com/embed/lZ5Mi8o-GGE"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
    <div class="video-cont">
    <div class="text-height-video2 text-sm lg:text-lg lg:w-full text-taiga-gray-900">TaiKSM is a synthetic asset providing users with triple threat versatility on Kusama <br></div>
      <iframe
      class="self-center w-full lg:w-full lg:max-w-4xl h-56 lg:h-[512px] mt-2"
      {{!-- width="1712"
      height="836" --}}
      src="https://www.youtube.com/embed/Pw8wmY2xhao"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    </div>
    </div>
  </div>
</div>