<div
  class="flex flex-col justify-center items-center w-full h-screen lg:px-0 bg-primary-500"
>
  <div
    class="flex flex-col justify-center items-center gap-3 lg:gap-5 bg-white rounded-md shadow-md w-80 lg:w-2/3 lg:max-w-3xl py-4 px-4 lg:py-8 lg:px-16"
  >
    <div class="text-3xl font-bold">The Event is Closed</div>
    <div class="text-center w-64">Thank you for your interest! Unfortunately this event closed</div>
    <div>Please stay tuned for future events!</div>
  </div>
</div>