<div
  class="flex flex-col justify-center items-center w-full h-screen lg:px-0 bg-primary-500"
>
  <div
    class="flex flex-col justify-evenly items-center lg:w-[512px] max-w-[512px] h-96 bg-taiga-gray-50 rounded-lg shadow-lg py-6 px-7"
  >
    <div class="text-3xl text-primary-500 font-semibold">Response Recorded</div>
    <div class="text-center text-sm lg:text-base">
      We will run a query on all roles and wallet addresses by 14:59 July 22, 2022 (UTC). Qualified participants will earn XP once we finish with the query.
    </div>
    <div class="flex flex-col lg:flex-row justify-center items-center gap-2">
      <a
        href="https://discord.gg/YnXFz2B6pC"
        target="_blank"
        class="flex flex-row gap-3 border-2 border-primary-400 rounded-md p-3 shadow-md w-52 h-14"
      >
        <img src="/static/discord.svg" />
        <div
          class="flex justify-center items-center text-primary-500 font-medium"
        >Join the Discord</div>
      </a>
      <a
        href="https://twitter.com/TapioProtocol"
        target="_blank"
        class="flex flex-row gap-3 border-2 border-primary-400 rounded-md p-3 shadow-md w-52 h-14"
      >
        <img src="/static/twitter.svg" />
        <div
          class="flex justify-center items-center text-primary-500 font-medium"
        >Follow on Twitter</div>
      </a>
    </div>
    <div class="flex flex-col justify-center w-full lg:justify-evenly items-center gap-2 lg:gap-0 lg:flex-row">
      <a href="/form" class="text-primary-500 underline">Submit again</a>
      {{!-- <a href="/profile" class="text-primary-500 underline">View Profile</a> --}}
    </div>
  </div>
  <div></div>
</div>