@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

.all_width {
    width: 100%!important;
}
.h-screen{
    height: 200vh!important;
}
.required {
    color: red;
}

.video-cont {
    width: 45%;
    margin-right: 5%;
}

.container-flex-video {
    display: flex;
}
.text-height-video2{
    height: 48;
}

@tailwind base;
@tailwind components;
@tailwind utilities;